@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Footer */
.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
}
    
.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}
    
.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}
    
.footer .row a:hover{
color:#fff;
cursor: pointer;
}
    
.footer .row ul{
width:100%;
}
    
.footer .row ul li{
display:inline-block;
margin:0px 30px;
}
    
.footer .row a i{
font-size:2em;
margin:0% 1%;
}
    
@media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
}

.con {
  background: url(../images/fon1.jpg) no-repeat;
  width: 100%;
  height: 900px;
  background-size: auto 100%;
  background-position: center;
}

/* Название на главном меню */
.cnt {
  letter-spacing: .5em;
  display: inline-block;
  position: relative;
}

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.cnt-text {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  display: block;
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

.con-fon {
  text-align: center;
  font-size: clamp(6px, 2vw, 20px);
  padding: 18% 0 0 0;
}
  
body{
  margin:0;
  overflow-x:hidden;
}
    

  
.summary-fonfon::before {
  color: #00f7ff;
}
  
.summary-fonfon:hover {
  color: #ff0008;
  cursor: pointer;
}

.pm-rsk:hover {
  cursor: pointer;
}

/* Конец Регламента */



/* Начало Контакты */

.overlay {
  background-image: linear-gradient(to right, rgba(90 100 232 / 0%), rgba(84, 96, 234, 0.9));
  width: 100%;
  height: 100%;
}
.section-bg {
  background-size: cover;
  position: relative;
  background-position: center;
  padding: 0;
  height: 100vh;
  background-image: url(https://wallpaperbat.com/img/460248-i-love-football-wallpaper.png);
}

.kontakt-container {
position: relative;
box-sizing: border-box;
flex: 1;
}

.kontakt-add {
  padding-top: 60px;
  font-family: "Roboto Slab";
}

.kontakt-name-text {
font-size: 70px;
text-align: center;
color: rgba(0, 0, 88, 0.90);
}

.kontakt-list {
  padding: 0px 0px 0 50px;
}

.kontakt-tg {
  display: block;
  width: 25%;
}

.reg-fa {
  padding: 0px 10px 0px 0px;
  color: #ff6a13;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 35px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row-tg a {
  text-decoration: none;
  color: #ff6a13;
  display: flex;
  padding: 10px 0px;
  align-items: baseline;
  font-size: 22px;
}

.row-tg a:hover {
  color: #ffff00;
}

.kontakt-donate-text {
  
}

.kontakt-qiwi {
}

.kontakt-card {
}

.qiwi-tel {
}

.card-nomer {
}

/* Конец Контакты */

.content-area {
  padding: 60px  0 0 0;
}


